body {
    font-family: 'Arial';font-size: 22px;
}

/* The main divs forming the structure of the page */
div {
    padding: 0;
    margin: 0;
    border: 0;
}

#main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 3fr
}

#filter {
    grid-column: 1;
    grid-row: 1;
}

#vistories {
    grid-column: 1;
    grid-row:2;
}

#vistory {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: lightgrey;
}

/* The filter section */
#filterlist {
    list-style: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 1em;
}

#filterlist li {
    padding: 0.2em;
    margin-bottom: 0.2em;
    display: block;
    cursor: pointer;
}

#filterlist li:hover {
    background-color: #EAA;
}

#filterlist li.selected {
    background-color: #E00;
    color: white;
}


/* The summary statements for each vistory */

div.summary {
    padding: 0.5em;
    background-color: #EEE;
    margin-bottom: 1em;
}

div.summary:hover {
    background-color: #EAA;
    cursor: pointer;
}

div.summary h1 {
    font-size: 0.8em;
}

div.summary p {
    font-size: 0.7em;
}

div.summary p.tags {
    font-family: monospace;
    font-weight: bold;
}
